* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #89f7fe, #66a6ff);
}

.converter-container {
    text-align: center;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
}

h1 {
    font-size: 24px;
    color: #333333;
    margin-bottom: 20px;
}

.converter input, .converter select, .converter button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}

#temperatureInput{
    background-color: #f2f4f7;
}

#scaleSelector{
    background-color: #e0f7fa;
    color: #00796b;
}

button{
    background-color: #00796b;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: #004d40;
}


#result{
    margin-top: 20px;
    font-size: 18px;
    color: #00796b;
    font-weight: bold;
}